
<<<<<<< HEAD
.input-block-level {
display:block;
width:100%;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
min-height:50px;
}
 
 
a {
 
-webkit-transition:300ms;
-moz-transition:300ms;
-o-transition:300ms;
transition:300ms;
}

.navbar-text > a {
    color: inherit; 
    text-decoration: none;
}

.icon-facebook-sign:hover
{
  background-color:blue;
}
 
 

#clients {
background:#fff;
}

#clients .clients ul.thumbnails>li {
text-align:center;
margin-bottom:0;
}
 

 

.box {
background-color:#fff;
border-top:1px solid #f0f0f0;
-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
padding:10px;
}

.progress {
margin-bottom:10px;
}

.progress,.progress .bar {
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
background-image:none;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
text-shadow:none;
height:30px;
line-height:30px;
}

.label,.badge {
font-weight:300;
font-size:90%;
}

ul.breadcrumb {
background:transparent;
margin:12px 0 0;
}

ul.breadcrumb>li {
text-shadow:none;
}

ul.breadcrumb>li.active {
color:rgba(255,255,255,0.7);
}

ul.tag-cloud li {
display:inline-block;
margin:0 0 2px;
}

.btn-social {
border:0;
color:#fff;
text-shadow:0 1px rgba(0,0,0,0.5);
}

.btn-social.btn-facebook {
background:#4f7dd4;
}

.btn-social.btn-facebook:hover {
background:#789bde;
}

.btn-social.btn-twitter {
background:#5bceff;
}

.btn-social.btn-twitter:hover {
background:#8eddff;
}

.btn-social.btn-linkedin {
background:#21a6d8;
}

.btn-social.btn-linkedin:hover {
background:#49b9e3;
}

.btn-social.btn-google-plus {
background:#dc422b;
}

.btn-social.btn-google-plus:hover {
background:#e36957;
}
 
 

.icon-medium {
font-size:18px;
width:18px;
line-height:18px;
text-align:center;
display:inline-block;
background:#2dcc70;
-webkit-border-radius:100%;
-moz-border-radius:100%;
border-radius:100%;
color:#fff;
padding:10px;
}

.modal {
border:0;
}

.modal#loginForm {
width:600px;
margin-left:-300px;
}

.modal .modal-header {
border:0;
padding:20px 20px 0;
}

.modal .modal-header>h4 {
font-weight:300;
font-size:14px;
color:#848484;
text-transform:uppercase;
margin:0;
}




.modal input[type="text"],.modal input[type="password"] {
min-height:30px;
width:130px;
margin-right:10px;
padding:5px 10px;
}

 

 
.gap {
margin-bottom:50px;
}

.big-gap {
margin-bottom:100px;
}

.no-margin {
margin:0;
padding:0;
}

#services {
background:#252525;
color:#999;
}

#main-contents .blog-news .created {
font-size:18px;
color:#2dcc70;
}

.registration-form {
border:0;
background-color:#fff;
border-top:1px solid #f0f0f0;
-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
box-shadow:0 1px 2px 0 rgba(0,0,0,0.1);
display:inline-block;
padding:20px;
}

#bottom {
background:#232323;
color:#6f6f6f;
}

#bottom h4 {
margin-top:0;
margin-bottom:15px;
}

#bottom a {
color:#6f6f6f;
}

#bottom a:hover {
color: #d36842;
}
 
#bottom ul.address>li {
position:relative;
padding-left:20px;
margin-top:10px;
}

#bottom ul.address>li>i {
position:absolute;
top:3px;
left:0;
}

#bottom ul.thumbnails li {
margin-bottom:5px;
}

element.style {
}
a [class^="icon-"], a [class*=" icon-"] {
display: inline;
}
[class^="icon-"], [class*=" icon-"] {
display: inline;
width: auto;
height: auto;
line-height: normal;
vertical-align: baseline;
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
margin-top: 0;
}
[class^="icon-"], [class*=" icon-"] {
font-familyL: 'FontAwesome';
font-weight: normal;
font-style: normal;
text-decoration: inherit;
-webkit-font-smoothing: antialiased;
}
user agent stylesheeti, cite, em, var, address, dfn {
font-style: italic;
}
Pseudo ::before element
.icon-angle-up:before {
content: "\f106";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
text-decoration: inherit;
display: inline-block;
speak: none;
}
 
ul.arrow,ul.arrow-double,ul.tick,ul.cross,ul.star,ul.rss {
list-style:none;
margin:0;
padding:0;
}

ul.arrow li::before,ul.arrow-double li::before,ul.tick li::before,ul.cross li::before,ul.star li::before,ul.rss li::before,ul.arrow li::after,ul.arrow-double li::after,ul.tick li::after,ul.cross li::after,ul.star li::after,ul.rss li::after {
font-family:'FontAwesome';
font-size:11px;
}

ul.arrow li::before,ul.arrow-double li::before,ul.tick li::before,ul.cross li::before,ul.star li::before,ul.rss li::before {
margin-right:5px;
}

ul.arrow li::before {
content:"\f105";
}

ul.arrow-double li::before {
content:"\f101";
}

ul.tick li::before {
content:"\f00c";
}

ul.cross li::before {
content:"\f00d";
}

ul.star li::before {
content:"\f006";
}

ul.rss li::before {
content:"\f09e";
}

#footer {
background:#333;
padding-top:15px;
padding-bottom:15px;
color:#666;
}

#footer a {
color:#666;
}

#footer #gototop {
height:40px;
line-height:40px;
width:40px;
text-align:center;
display:inline-block;
background:#1d1d1d;
font-size:24px;
color:#fff;
}

#footer a:hover {
color:#f7f7f5;
}
#footer #gototop:hover {
background:#f7f7f5;
text-decoration:none;
}

#footer .cp {
margin-top:11px;
}

.box-border {
padding:15px;
}

.accordion-group {
background-color:#fff;
border-top:1px solid #f0f0f0;
}

.accordion-heading .accordion-toggle {
color:#666;
font-weight:700;
}

.accordion-inner {
border-top:0;
}

.blog .blog-item .date span {
display:block;
text-align:center;
}

.blog .blog-item .date span.day {
font-size:50px;
line-height:50px;
padding-top:10px;
font-family:"Fjalla One",sans-serif;
}

.blog .blog-item .date span.month {
font-size:18px;
}
 
 

#pricing-table .plan>li {
padding:10px 15px;
}

#pricing-table .plan>li.plan-name {
background:rgba(0,0,0,0.1);
}

#pricing-table .plan>li.plan-name h3 {
margin:10px 0;
}

#pricing-table .plan>li.plan-action {
padding:20px 0;
}

#pricing-table .plan1 {
background:#1abc9c;
}

#pricing-table .plan2 {
background:#e74c3c;
}

#pricing-table .plan3 {
background:#3498db;
}

#pricing-table .plan4 {
background:#9b59b6;
}

ul.gallery {
display:block;
margin:-15px;
}

ul.gallery.col-1 li {
width:100%;
}

ul.gallery.col-2 li {
width:50%;
}

ul.gallery.col-3 li {
width:33.3333%;
}

ul.gallery.col-4 li {
width:25%;
}

ul.gallery li {
display:block;
float:left;
margin:0;
padding:0;
}

ul.gallery li .desc {
margin:15px;
}

ul.gallery li .preview {
display:block;
position:relative;
margin:15px;
}

ul.gallery li .preview .overlay {
width:100%;
height:100%;
position:absolute;
left:0;
top:0;
background:rgba(0,0,0,0.6);
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:opacity 300ms;
-moz-transition:opacity 300ms;
-o-transition:opacity 300ms;
transition:opacity 300ms;
}

ul.gallery li .preview .links {
width:104px;
height:40px;
position:absolute;
top:50%;
left:50%;
margin-top:-20px;
margin-left:-52px;
opacity:0;
filter:alpha(opacity=0);
-webkit-transform:translate(0,-50px);
-moz-transform:translate(0,-50px);
-ms-transform:translate(0,-50px);
-o-transform:translate(0,-50px);
transform:translate(0,-50px);
-webkit-transition:300ms;
-moz-transition:300ms;
-o-transition:300ms;
transition:300ms;
}

ul.gallery li .preview .links>a {
width:50px;
height:40px;
line-height:40px;
display:inline-block;
text-align:center;
background:#2dcc70;
color:#fff;
text-shadow:0 1px rgba(0,0,0,0.3);
font-size:18px;
margin:0 1px;
}

ul.gallery li .preview:hover .overlay,ul.gallery li .preview:hover .links {
opacity:1;
filter:alpha(opacity=100);
}

ul.gallery li .preview:hover .links {
-webkit-transform:translate(0,0);
-moz-transform:translate(0,0);
-ms-transform:translate(0,0);
-o-transform:translate(0,0);
transform:translate(0,0);
}

ul.faq {
list-style:none;
margin:0;
}

ul.faq li {
margin-top:30px;
}

ul.faq li span.number {
display:block;
float:left;
width:50px;
height:50px;
line-height:50px;
text-align:center;
background:#2dcc70;
color:#fff;
font-size:24px;
}

ul.faq li>div {
margin-left:70px;
}

#error {
text-align:center;
margin-top:150px;
margin-bottom:150px;
}

 

 

#clients .carousel,header.navbar,#bottom ul.thumbnails {
margin-bottom:0;
}

ul.breadcrumb>li>a,ul.breadcrumb>li .divider,.btn-social:hover,#services h1,#services h2,#services h3,#services h4,#services h5,#services h6,#bottom h1,#bottom h2,#bottom h3,#bottom h4,#bottom h5,#bottom h6 {
color:#fff;
}
 
 
.blog .blog-item .tag,.blog .blog-item .avatar {
margin-top:5px;
}
=======

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















>>>>>>> master
